body {
    background-image: url(http://2ch.sc/ba.gif);
}

.all-boards {
    border: 1px solid;
    background-color: rgb(204, 255, 204);
    padding: 10px;
}

.board-category {
    font-weight: bold;
}

.board-anchor {
    color: blue;
}